span.select-box-prompt {
    color: #555;
    padding: 5px 0 10px;
    display: inherit;
}
.select-box-container {
    width: 100%;
    min-width: 100%;
    //margin: 50px auto 0;
    display: flex;
    align-items: center;
}
.select-box-dropdown {
    width: 100%;
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid black;
    //box-shadow: 0 0 2px black;//rgb(204, 204, 204);
    transition: all 0.5s ease;
    transition: margin 0s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    height: 100%;
    text-align: left;
}
.select-box-dropdown .select-item {
    cursor: pointer;
    display: block;
    padding: 10px;
}
.select-box-dropdown .select-item .select-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.select-box-dropdown .select-item .select-text .icon-container i {
    //width: 100%;
    font-size: 13px;
    color: #888;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    float: right;
    line-height: 20px;
}
.select-box-dropdown {
    .select-item {
        .select-text {
            .text-container{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: nowrap;
                user-select: none;
                .select-box-prompt{
                    width: 100%;
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 0;
                    user-select: none;
                }
            }
            .icon-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                width: 20%;
                user-select: none;
                i {
                    transition: all 0.3s ease-in-out;
                    user-select: none;
                }
            }
        }
    }
}

.select-box-dropdown:active {
    background-color: #f8f8f8;
}
.select-box-dropdown.active:hover,
.select-box-dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 5px 5px 0 0;
    border: none;
    margin: 2px;
    background-color: #f8f8f8;
    border-bottom: none;
}
.select-box-dropdown.active{
    .select-item {
        .select-text {
            .icon-container {
                i {
                    transform: rotate(-90deg); //translateX(-50%) rotate(-90deg) translateX(50%);
                }
            }
        }
    }
}
.select-box-dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204);
}
.select-box-dropdown .select-dropdown {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 5px 5px;
    overflow: hidden;
    overflow-y: auto;
    max-height: 300px;
    //overflow-y: auto;
    z-index: 500;
}
.select-box-dropdown .select-dropdown .select-choice {
    padding: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.select-box-dropdown .select-dropdown {
    padding: 0;
    list-style: none;
}
.select-box-dropdown .select-dropdown .select-choice:hover {
    background-color: #f2f2f2;
}
.select-box-dropdown .select-dropdown .select-choice:active {
    background-color: #e2e2e2;
}
