<div class="select-box-container">
    <span class="select-box-prompt" *ngIf="label">{{label}}</span>
    <div class="select-box-dropdown" (click)="toggleDropdown($event)"
        (focusout)="leftFocus($event)" [ngClass]="{'active': display_dropdown==='active'}">
        <div class="select-item">
            <div class="select-text">
                <div class="text-container">
                    <span *ngIf="current === null" class="select-box-prompt">{{place_holder}}</span>
                    <span *ngIf="current !== null" class="select-box-prompt">{{current["display"]}}</span>
                </div>
                <div class="icon-container">
                    <i class="material-icons">keyboard_arrow_down</i>
                </div>
            </div>
        </div>
        <ul class="select-dropdown" [@toggleDropdown]="display_dropdown">
            <li *ngFor="let item of items" id="{{item['id']}}"
                value="{{item['value']}}" class="select-choice"
                (click)="itemSelected(item)">
                {{item['display']}}
            </li>
        </ul>
    </div>
</div>
